@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --color-dark-1e: #1E1E1E;
  --color-blue: #3276FA;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

}



body {
  background: var(--background);
  color: var(--foreground);
}
